################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Kkts/.vs/Kkts
/src/Kkts/Kkts.Dynamic/bin/Debug/netstandard2.0
/src/Kkts/Kkts.Dynamic/obj
/src/Kkts/Kkts.Dynamic/bin/Release
